{% extends "backend/layouts/base.html" %}

{% block title %}文章管理{% endblock %}

{% block content %}
<div class="container-fluid">
	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">文 章</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">文章 - 新增/編輯</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="blogs" width="100%" cellspacing="0">
					<thead>
					<tr>
						<th>ID</th>
						<th>分類名稱</th>
						<th>文章名稱</th>
						<th>圖片</th>
						<th>觀看次數</th>
						<th>公佈狀態</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					{% for blog in blogs %}
					<tr>
						<td>{{ blog['id'] }}</td>
						<td>{{ blog['cname'] }}</td>
						<td>{{ blog['title'] }}</td>
						<td>{{ blog['image'] }}</td>
						<td>{{ blog['views'] }}</td>
						<td>{{ blog['published'] }}</td>
						<td>

						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
{% endblock content %}

{% block javascript %}
<script>
	$(function () {

		$('#title').on('change', function () {
			$('#slug').val(slugify($(this).val()))
		})

		$("#blogs").DataTable({
			"responsive": true,
			"autoWidth": false,
			"language": {
				url: "/assets/datatable/zh_TW.json"
			},
			'order': [
				[0, 'desc']
			],
			"columns": [
				{
					"width": "5%"
				},
				{
					"width": "11%"
				},
				{
					"width": "20%"
				},
				{
					"width": "25%"
				},
				{
					"width": "12%"
				},
				{
					"width": "12%"
				},
				{
					"width": "15%"
				}
			],
			"columnDefs": [{
				"orderable": false,
				"targets": [4]
			}]
		});

	});


	let simplemde = new SimpleMDE({element: $("#content")[0], autofocus: true})

	function update_row(id) {

		$.post('/update-posts', {
			"id": id
		}, function (data) {
			// console.log(data)
			$('#id').val(data.id)
			$('#category_id').val(data.category_id)
			$('#title').val(data.title)
			$('#published').val(data.published)
			$('#views').val(data.views)
			$('#slug').val(data.slug)
			image = data.image
			if (data.image == 'None') {
				image = ''
			}
			$('#image').val(image)

			simplemde.value('')
			simplemde.value(data.content)

			$('#show_update').modal();
		})
	}

	function slugify(str) {
		str = str.replace(/\s+/g, '-') // replace spaces with dashes
		str = encodeURIComponent(str) // encode (it encodes chinese characters)
		return str
	}

	function add_row() {
		$('#id').val('')
		$('#category_id').val(1)
		$('#title').val('')
		$('#content').val('')
		$('#image').val('')
		$('#slug').val('')
		$('#published').val('')

		simplemde.value('')

		$('#show_update').modal()
	}

	function delete_row(id) {
		if (confirm('確定要刪除嗎？')) {
			$.post('/delete-posts', {
					'id': id
				},
				function (data) {
					location.reload();
				})
		}
	}

</script>
{% endblock javascript %}
